<div id="<%= dom_id record %>">
  <p>
    <strong>Email:</strong>
    <%= record.email %>
  </p>

  <p>
    <strong>Cname:</strong>
    <%= record.cname %>
  </p>

  <p>
    <strong>Disease code:</strong>
    <%= record.disease_code %>
  </p>

  <p>
    <strong>Total deaths:</strong>
    <%= record.total_deaths %>
  </p>

  <p>
    <strong>Total patients:</strong>
    <%= record.total_patients %>
  </p>

</div>
