<p id="notice"><%= notice %></p>

<h1>Patientdisease

<%= link_to 'New Patientdisease', new_patientdisease_path, class:'button-4', id:'tb' %>
</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Disease code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patientdisease.each do |patientdisease| %>
      <tr>
        <td><%= patientdisease.email %></td>
        <td><%= patientdisease.disease_code %></td>
        <td><%= link_to 'Edit', edit_patientdisease_path(patientdisease.email), class:'button-4' %></td>
        <td><%= button_to 'Destroy', patientdisease_path(patientdisease.email), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:'button-4' %></td>
      </tr>
    <% end %>
  </tbody>
</table>