<div id="<%= dom_id disease %>">
  <p>
    <strong>Disease code:</strong>
    <%= disease.disease_code %>
  </p>

  <p>
    <strong>Pathogen:</strong>
    <%= disease.pathogen %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= disease.description %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= disease.id_disease %>
  </p>

</div>
