<p style="color: green"><%= notice %></p>

<%= render @diseasetype %>

<div>
  <%= link_to "Edit this diseasetype", edit_diseasetype_path(@diseasetype) %> |
  <%= link_to "Back to diseasetype", diseasetype_index_path %>

  <%= button_to "Destroy this diseasetype", @diseasetype, method: :delete %>
</div>
